# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg
# Envs
.venv/
venv/
env/
.python-version
# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/
# OS/editor
.DS_Store
.idea/
.vscode/
